.items{
    display: flex;
    justify-content: space-between;
}

.itemName {
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}

.itemUnitPrice {
    margin-bottom: 5vh;
}

.itemTotalQty {
    margin: 30px;
}

.itemInfo {
    margin: 10vh auto;
    min-width: 20vw;
    max-width: 60vh;
    min-height: 25vh;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition: .6s ease;
    background: white;
    text-align: center;
}

.itemButtonReset {
    margin: 10px 0;
}

.corner-ribbon{
    width: 50px;
    background: #e43;
    position: relative;
    text-align: center;
    color: #f0f0f0;
    top: 16px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}