.shoppingCart {
    margin-left: 35%;
    width: 40%;
}

.shoppingCartTitle {
    margin-right: 50%;
}

.itemName  {
    text-transform: capitalize;
    font-weight: bold;
}

.itemTotalPrice {
    float: right;
    font-weight: bold;
}

.itemWithOffer {
    color: blue;
    font-size: smaller;
}